:root {
    --vintage-blue: #4580b2;
    --vintage-green: #008c47;
    --vintage-yellow: #fed03a;
    --vintage-purple: #552cb7;
    --vintage-orange: #B1D8B8;
    --vintage-red: #ec2d01;
    --royal-blue: #1e4380;
    --deep-green: #00995e;
    --amikom-purple: #775aff;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

html {
  -ms-overflow-style: none; 
}

header {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 50;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.red {
    background-color: var(--vintage-red);
}

.green {
    background-color: var(--vintage-green);
}

.yellow {
    background-color: var(--vintage-yellow);
}

.purple {
    background-color: var(--vintage-purple);
}

.geist-mono-normal {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.geist-mono-semibold {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.geist-mono-bold {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.geist-mono-heavy {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.section-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.page {
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    position: relative;
}

.rounded-button-primary {
    background-color: #fed03a;
    border: 2px solid #fed03a;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rounded-button-secondary {
    border: 2px white solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav-item {
    padding: 8px;
    border: 2px transparent solid;
}

.nav-item:hover {
    padding: 8px;
    background-color: var(--deep-green);
    border: 2px var(--deep-green) solid;
}

.skill-item {
    border: 2px white solid;
    border-radius: 8px;
    color: white;
    width: 100%;
    max-width: 320px;
    padding: 10px 20px;
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.about-container {
    border: 2px white solid;
    border-radius: 8px;
    color: white;
    max-width: 720px;
    padding: 20px;
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}



.exp-item {
    border: 2px white solid;
    border-radius: 8px;
    color: white;
    width: 100%;
    max-width: 320px;
    padding: 10px 20px;
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 10px;
    margin-right: 10px;
}

.exp-item-none {
    border: 2px transparent solid;
    border-radius: 8px;
    color: white;
    width: 320px;
    padding: 10px 20px;
}

.exp-title {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 72rem;
}

.exp-time {
    font-family: "Geist Mono", monospace;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 4px;
}

.skill-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding: 4px;
}

.skill-list {
    font-family: "Geist Mono", monospace;
    font-size: 1rem;
    margin-top: 4px;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 4px;
}

.exp-list {
    font-family: "Geist Mono", monospace;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 8px;
    margin-bottom: 4px;
    display: grid;
    gap: 4px;
}

.button-group {
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 10px; 
    margin-top: 24px; 
    font-weight: 400;
}

.button-group-nogap {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 24px; 
    font-weight: 400;
}

.image-button {
    display: flex; 
    align-items: center;
}

.logo {
    padding: 12px;
    font-size: 1rem;
}

.normal-text {
    font-family: "Geist Mono", monospace;
    font-size: 1rem;
    font-optical-sizing: auto;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
}

.exp-line {
    height: 100%;
    width: 2px;
    background-color: white
}

.section-title {
    font-size: 2rem;
    color: white;
    padding: 8px;
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.nav-item.active {
    color: yellow;
    font-weight: bold;
}

.element-bottom-left {
    bottom: 0;
    left: 20px;
    position: absolute;
    width: 300px;
    height: fit-content;
    z-index: 1;
}

.element-bottom-left-rotate {
    bottom: 0;
    left: 20px;
    position: absolute;
    width: 300px;
    height: fit-content;
    z-index: 1;
    transform: rotate(10deg);
}

.element-bottom-right {
    right: 20px;
    bottom: 30px;
    position: absolute;
    position: absolute;
    width: 300px;
    height: fit-content;
    z-index: 1;
}

.education-card {
    border: 2px white solid; 
    border-radius: 8px; 
    width: 100%;
    max-width: 320px;
    color: white; 
    padding: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 0px 10px;
}

.text-center {
    text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

#experiences {
  min-height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
}

.name-banner {
    display: flex;
    gap: 0 20px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: "Geist Mono", monospace;
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    margin-block: 0px;
}

.hi {
    color: white;
    margin: 0;          
    margin-block-start: 0;
    margin-block-end: 0;  
}

.exp-parallax {
  position: sticky;
  top: 97px;
  height: calc(100vh - 97px);
  overflow-y: auto;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 24px;
  color: white;
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: var(--vintage-purple);
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 12px 40px;
    border-radius: 8px;
    z-index: 100;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.exp-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.subtitle {
    font-size: 1.5rem;
    color: white;
    margin-top: 20px !important;
    text-align: center;
    white-space: normal;
    word-break: keep-all; 
}

.name-text {
    padding: 8px;
    background-color: var(--vintage-yellow);
    display: inline-flex;
    align-items: center;
    margin: 0;          
    margin-block-start: 0;
    margin-block-end: 0;  
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .name-banner {
    font-size: 1rem;
    font-family: "Geist Mono", monospace;
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 0;
  }

  .name-text {
    margin-top: 8px !important;   
    margin-block-start: 0;
    margin-block-end: 0;  
  }

  .subtitle {
    margin-top: 10px !important;
    font-size: 1rem;
    max-width: 90%; 
    margin: 0 auto;
  }

  .about-container {
    width: 100%;
    max-width: 320px;
  }

  .hi {
    margin: 0;          
    margin-block-start: 0;
    margin-block-end: 0;  
  }
}

@media (max-width: 768px) {
  .exp-container {
    grid-template-columns: 1fr;
  }

  .exp-item {
    margin-bottom: 12px;
  }

  .exp-item-none, .exp-line {
    display: none;
  }
}

@media (max-width: 768px) {
  .page {
    font-size: 1.5rem;
    padding: 16px;
  }

  .element-bottom-left,
  .element-bottom-right,
  .element-bottom-left-rotate {
    width: 60px;
    opacity: 0.5;
  }

  .section-title {
    font-size: 1.5rem;
    text-align: center;
  }
}
